extends layout.pug

block content
  section#about
    h2 About Us
    p We are dedicated to connecting job seekers with their dream careers. Our platform makes job hunting and recruitment easy and efficient.
