extends layout.pug

block content
  section#contact
    h2 Contact Us
    p Have questions or feedback? Reach out to us at:
    a(href="mailto:contact@careerbuilder.com") contact@careerbuilder.com
    p Or give us a call at: +1 (123) 456-7890
