extends layout.pug

block content
  section#features
    h2 Features
    .feature
      a(href="/job-search")
        i.fa.fa-search
        h3 Job Search
        p Find the job that suits your skills and aspirations with our powerful job search tool.

    .feature
      a(href="/profile-creation")
        i.fa.fa-user
        h3 Profile Creation
        p Create a professional profile and make it easy for employers to discover you.

    .feature
      a(href="/employer-tools")
        i.fa.fa-briefcase
        h3 Employer Tools
        p As an employer, post jobs and manage applicants effortlessly.
